/* Подключения фонта */

@font-face {
    font-family: CalSans;
    font-display: swap;
    src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../font/CalSans-SemiBold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Сброс стилей */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #666666;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration:none;
}
/*----------------------------------------------------------------------*/

.wrapper {
    overflow: hidden; /* Базовая настройка что бы скрол не стал горизонтальным*/
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}

/*----------------------------------------------------------------------*/

.title{
    font-family: CalSans;
    color: #121212;
    font-size: 44px;
    line-height: 1.2;
    text-align: left;
}

.title span {
    color: #ff6428;
}

/*----------------------------------------------------------------------*/

.page {
    flex: 1 1 auto; /* рахришает увеличиваться мейну*/
}

/*----------------------------------------------------------------------*/

.page__main {

}

/* селектор ограничения контейнера */

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px; /* это нужно что бы при уменьшии разрешения браузера контект не слпся к краям */
}

/* Конец подготовки */


/* Начало верстки */


/*------------ Header Start -------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 131px; /* Задает одступ от логотипа сайта*/
    min-height: 152px; /* Высота контейнера */
}
.header__logo {}
.header__menu {}
.menu {
    padding: 10px 10px 10px;
    border-radius:5px ;
    background-color: rgba(255, 255, 255, 0.8);
}
.menu__list {
    display: flex;
    column-gap: 56px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.menu__item {}
.menu__link {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
}
.menu__link:hover{
    text-decoration: underline;
}

@media (max-width: 1092px) {
    .header__container {
        gap: 50px;
        min-height: 100px;
    }

    .menu__list {
        column-gap: 40px;
    }
}
@media (max-width: 767.98px) {
    .header__container {
        min-height: 65px;
    }
}
@media (max-width: 479.98px) {
    .header__container {
        gap: 15px;
    }
    .menu {
        padding: 0;
    }
    .menu__list {
        column-gap: 20px;
    }

    .header__logo {
        width: 28px;
        flex: 0 0 28px;
        overflow: hidden;
    }
}
/*------------------- Main----------------------*/
.main {
    padding-bottom: 80px;
}
.main__container {
    display: flex;
}
.main__content {
    flex: 0 1 50%; /*Делает контент на половину экрана*/

    align-self: flex-end ;
    padding-top: 120px ;
    padding-bottom: 60px;
    padding-right: 20px;
}
.main__title {
    font-family: CalSans;
    color: #121212;
    font-size: 56px;
    line-height: 1.2;
}
.main__title span {
    color: #ff6428;
}
.main__title:not(:last-child){
    margin-bottom: 16px;
}
.main__text {
    line-height: 24px;
    font-weight: 500;
    max-width: 420px;
}
.main__text:not(:last-child){
    margin-bottom: 31px;
}
.main__actions {}



.actions-main {
    display: flex;
    align-items: center;
}
.actions-main__button {
    cursor: pointer;
    text-align: center;
    padding: 18.5px 48px;
    background-color: #ff6428;
    border-radius: 40px;
    color: #fff;
    line-height: 28px;
    font-weight: 600px;
    transition: all 0.3s ease 0s; /* Задает скорость перехода эфекта hover*/
}
.actions-main__button:hover{
    background-color: #ba4619;
}
.actions-main__button:not(:last-child){
    margin-right: 40px;
}
.action-main__icon {}
.action-main__icon:not(:last-child){
    margin-right: 27px;
}

.main__decor {
    flex: 0 1 50%; /*Делает контент на половину экрана*/
}
.main__image {
    /*display: inline-block;*/
    position: relative;
    margin-right: -135px;
    padding-bottom: 97.5%;
    max-width: 672px;
}

.main__image img {
    position: absolute;width: 100%; height: 100%;top: 0;left: 0;right: 0;bottom: 0;
    object-fit: cover;
    border-radius: 0 0 160px 375px;

}
.main__image::after {
    content:"";
    background: url('../img/decor.svg') 0 0 no-repeat;
    width: 80px;
    height: 80px;
    right: 36.3%;
    bottom: 0;
    transform: translate(0, 50%);
    position: absolute;
}

@media (max-width:1092px) {
    .main__image img {
        max-width: 100%;
    }
    .main__content {
        flex: 0 0 70%;
        padding-bottom: 0;
    }
    .main__decor {
        flex: 0 0 30%;
    }
}
@media (max-width: 767.98px) {
    .main__decor {
        display: none;
        padding-right: 0;
        padding-top: 80px;
    }
    .main__content {
        flex: 1 1 100%;
    }
    .main__title {
        font-size: 44px;
    }
}
@media (max-width: 479.98px) {
    .actions-main {
        flex-wrap: wrap;
        justify-content: center;
    }
    .actions-main__button {
        flex: 1 1 100%;
    }
    .actions-main__button:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
    }
}